<div class="page home">
    <div class="contianer">
        <div class="row">
            <div class="col-md-6">
                <h2 class="page-title">
                    <img class="svg" src="assets/svg/file.svg">
                    <span>Todo List App</span>
                </h2>
            </div>
            <div class="col-md-6">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Yapılacak yeni madde ekle" #newTodo>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="button" (click)="addTodo(newTodo)">Ekle</button>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <mat-card class="d-flex">
                    <div class="example-container">
                        <h5>Yapılacaklar</h5>
                      
                        <div
                          cdkDropList
                          #pendingList="cdkDropList"
                          [cdkDropListData]="data.pendings"
                          [cdkDropListConnectedTo]="[progressList]"
                          class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="example-box" *ngFor="let item of data.pendings" cdkDrag>
                              <img class="svg" src="assets/svg/clock.svg">
                              {{item}}
                            </div>
                        </div>
                      </div>

                      <div class="example-container">
                        <h5>Devam Ediyor</h5>
                      
                        <div
                          cdkDropList
                          #progressList="cdkDropList"
                          [cdkDropListData]="data.inProsess"
                          [cdkDropListConnectedTo]="[pendingList,doneList]"
                          class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="example-box" *ngFor="let item of data.inProsess" cdkDrag>
                            <img class="svg" src="assets/svg/hourglass.svg">
                              {{item}}
                            </div>
                        </div>
                      </div>

                      <div class="example-container">
                        <h5>Bitti</h5>
                      
                        <div
                          cdkDropList
                          #doneList="cdkDropList"
                          [cdkDropListData]="data.done"
                          [cdkDropListConnectedTo]="[progressList]"
                          class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                            <img class="svg" src="assets/svg/like.svg">
                              {{item}}
                            </div>
                        </div>
                      </div>                      
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-2">
                <small>Copyright 2020 Todo List App</small>
            </div> 
        </div>
    </div>
</div>
